body{
    background-color: rgb(190, 190, 190);
}
.p1{
    background-color: aqua;
}
.p2{
    background-color: rgb(0, 0, 0);
}.p3{
    background-color: rgb(32, 252, 131);
}.p4{
    background-color: rgb(56, 1, 255);
}.p5{
    background-color: rgb(70, 6, 6);
}